{% load static %}
<!DOCTYPE html>
<html data-wf-page="633daa121f130878e783b087" data-wf-site="633daa121f1308def083b05d">

<head>
    <!-- SEO Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- meta tags -->
    <meta name="google-site-verification" content="d62PM1ZSP5XV-V5UuwLrPY38Htu8jx5EBldf239QITM" />
    <meta name="description" content="{% block common_description %}{% endblock %}">
    <meta name="keywords" content="{% block common_keywords %}{% endblock %}">
    <meta name="author"
        content="{% block common_author %}Dr. Ramesh Kumar Kurup & Sarada Memorial Eye Hospital{% endblock %}">

    <!-- Title -->
    <title>{% block page_title %}{% endblock %}</title>

    <!-- Open Graph Meta Tags (for social sharing) -->
    <meta property="og:title" content="{% block og_title %}{% endblock %}">
    <meta property="og:description" content="{% block og_description %}{% endblock %}">
    <meta property="og:image" content="{% block og_image %}{% endblock %}">
    <meta property="og:url" content="{% block og_url %}{% endblock %}">

    <!-- Twitter Meta Tags (for Twitter Card) -->
    <meta name="twitter:card" content="{% block twitter_card %}{% endblock %}">
    <meta name="twitter:title"
        content="{% block twitter_title %}Dr. Ramesh Kumar Kurup & Sarada Memorial Hospital{% endblock %}">
    <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}">
    <meta name="twitter:image" content="{% block twitter_image %}{% endblock %}">

    <!-- Favicon -->
    <link rel="icon" href="{% static 'images/fav/favicon-16x16.png' %}" sizes="16x16" type="image/png">
    <link rel="icon" href="{% static 'images/fav/favicon-32x32.png' %}" sizes="32x32" type="image/png">
    <link rel="icon" href="{% static 'images/fav/favicon.ico' %}" type="image/x-icon">

    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" href="{% static 'images/fav/apple-touch-icon.png' %}" sizes="180x180">

    <!-- Android Chrome Icons -->
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'images/fav/android-chrome-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'images/fav/android-chrome-512x512.png' %}">

    <!-- Other head elements -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
    <link href="https://fonts.googleapis.com/" rel="preconnect" />
    <link href="https://fonts.gstatic.com/" rel="preconnect" crossorigin="anonymous" />
    <script src="{% static 'js/font.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        WebFont.load({
            google: {
                families: ["Gilda Display:regular:latin,latin-ext", "Inter:200,300,regular,500,600,700,800"]
            }
        });
    </script>
</head>

<body>
    <div id="webpage" class="page-wrapper">
        <div class="global-styles w-embed"></div>
        {% include 'navbar.html' %}
        {% block content %}
        {% endblock content %}
        {% include 'footer.html' %}
    </div>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script src="{% static 'js/script.js' %}" type="text/javascript"></script>


</body>

</html>
